.App {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}

.button-area {
  padding: 10px;
  display: flex;
  width: 150px;
  justify-content: center;
}

.canvas {
  height: 500px;
  width: 500px;
  border-width: 2px;
  border-style: solid;
  border-color: #000000;
}

.edit-area {
  padding: 10px;
  min-width: 300px;
}

.shape-card {
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  padding: 10px;
  align-content: space-between;
  min-height: 200px;
}

.shape-card-row {
  min-height: 35px;
  display: flex;
  justify-content: space-between;
}

.button {
  width: 100px;
  height: 30px;
}