.App {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}

.button-area {
  padding: 10px;
  display: flex;
  width: 150px;
  justify-content: center;
}

.canvas {
  height: 500px;
  width: 500px;
  border-width: 2px;
  border-style: solid;
  border-color: #000000;
}

.edit-area {
  padding: 10px;
}
